<template name="about">
    <div class="page about">
        {{>nav title='About' black=true}}

        <div class="content-scrollable">
            <div class="bg-image about"></div>
            <div class="description-about">
                GiveLight Foundation is a non-profit humanitarian relief
                organization,
                established in Sunnyvale, California, USA in January 2005 by
                a group of
                young professionals. The foundation seeks to create durable
                orphanages and
                provide orphan care in response to natural disasters and
                extreme condition,
                like poverty and war. Since inception, GiveLight has been
                able to operate
                primarily using volunteer talents in the US to generate
                awareness and funds
                for our global projects. Inspired by Islamic values we
                strive to help
                orphans across the globe regardless of nationality, race or
                religion.
            </div>

        </div>
        <a href="http://www.givelight.org" class="btn-primary js-open"
           target="_blank">Learn More</a>
    </div>
</template>
