<template name="authOverlay">
    <div class="overlay auth">
        <a href="#" class="js-close-overlay overlay-dismiss"><span
                class="icon-cross"></span></a>

        <div class="wrapper-heading">
            <div class="title-overlay">Sign In</div>
            <div class="subtitle-overlay">To bookmark and share your favorite
                campaigns
            </div>
        </div>
        <button class="btn-twitter"> Login with Twitter</button>
        <button class="btn-facebook"> Login with Facebook</button>
        <button class="btn-google"> Login with Google</button>
    </div>
</template>
